<li>
	{{burger_name}}
	{{#if devoured}}
	<button class="change-status" data-id="{{id}}" data-devoured="{{devoured}}" disabled>
		Eat Me!
	</button>
	{{else}} 
	<button class="change-status" data-id="{{id}}" data-devoured="{{devoured}}">
		You already ate me!!
	</button>
	{{/if}}

	<!--	<button class="delete-cat" data-id="{{id}}">
		DELETE!!
	</button>	-->
</li>
