<li>
	{{burger_name}}

	<button class="change-status" data-id="{{id}}" data-devoured="{{devoured}}" disabled="{{devoured}}">
		{{#if devoured}}Eat Me! {{else}} You already ate me!!{{/if}}
	</button>

	<!--	<button class="delete-cat" data-id="{{id}}">
		DELETE!!
	</button>	-->
</li>
